# Bike Sales EDA part 2

In [ ]:
import pandas as pd

df = pd.read_csv("../../data/Sales.csv", index_col=0, parse_dates=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [ ]:
df.sort_index(inplace=True)

df.loc["2013-01-01": "2013-12-01"]

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-01-01,1,January,2013,29,Young Adults (25-34),F,United States,Florida,Bikes,Road Bikes,"Road-650 Red, 62",1,487,783,257,487,744
2013-01-01,1,January,2013,19,Youth (<25),F,United States,Washington,Bikes,Road Bikes,"Road-150 Red, 48",1,2171,3578,620,2171,2791
2013-01-01,1,January,2013,42,Adults (35-64),M,Australia,Queensland,Bikes,Road Bikes,"Road-350-W Yellow, 48",1,1083,1701,346,1083,1429
2013-01-01,1,January,2013,27,Young Adults (25-34),F,Australia,New South Wales,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,261,713,974
2013-01-02,2,January,2013,37,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-350-W Yellow, 48",1,1083,1701,550,1083,1633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-01,1,December,2013,47,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Mountain Tire Tube,30,2,5,87,60,147
2013-12-01,1,December,2013,27,Young Adults (25-34),F,France,Seine Saint Denis,Bikes,Touring Bikes,"Touring-3000 Yellow, 62",1,461,742,147,461,608
2013-12-01,1,December,2013,37,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,385,713,1098
2013-12-01,1,December,2013,37,Adults (35-64),M,Germany,Hessen,Accessories,Bottles and Cages,Water Bottle - 30 oz.,2,2,5,5,4,9
2013-12-01,1,December,2013,22,Youth (<25),M,France,Seine Saint Denis,Accessories,Tires and Tubes,Touring Tire Tube,12,2,5,25,24,49

In [17]:
# Detta är din Serie
sales_2013 = df.loc['2013']['Country'].value_counts()

# Vi gör om den till en DataFrame
df_sales_2013 = sales_2013.reset_index()

# Låt oss byta namn på kolumnerna till något tydligt
df_sales_2013.columns = ['Country', 'NumberOfRows']

# Titta på resultatet!
df_sales_2013.head()

          Country  NumberOfRows
0   United States          8511
1       Australia          5335
2          Canada          3086
3  United Kingdom          2966
4          France          2291

In [ ]:
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813